<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @board.location_id %>
</p>

<p>
  <strong>Owned:</strong>
  <%= @board.owned %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
