<!DOCTYPE html>
<html>
  <head>
    <title>CorkBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  </head>

  <body>
  <ul class="topnav -fixed _nightblue" id="myTopnav2">
    <li>
      <a href="/" class="brand" style="padding:.2em;">
        <%= image_tag 'corklogo.png', style: 'width:40px;' %>
      </a>
    </li>
    <% if @owner&.sa? %>
    <li><%= link_to 'pending', verify_posts_path %></li>
    <% end %>
    <li><%= link_to 'my posts', my_posts_path %></li>
    <li><a href="<%= boards_path %>">boards</a></li>

    <li style="float:right;"><%= link_to 'contact info', my_info_path %></li>
    <li class="-icon">
      <a href="javascript:void(0);" onclick="topnav('myTopnav2')">☰</a>
    </li>
  </ul>

      <%= yield %>


  </body>
</html>
<style>
  body{
    margin-top:55px;
    background-image: url('<%= image_url '/board.jpg' %>');



  }
  a{
    text-decoration: none;
    color: darkblue;
  }
  a:hover{
    color: darkcyan;
  }
  .title{
    text-decoration: none;
    color: darkblue;
    display:block;
    background-color: floralwhite;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -moz-transform:rotate(-3deg);
  }

</style>